<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h3 {
            font-size: 15px
        }
        .h2-text {
            color: red
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text" class="h2-text">h1</h1>
    <h2 class="h2-text">h2</h2>
    <h3>h3</h3>
    <p>Native mobile juice cooky <span style="color: green">sprite</span></p>
    <a href="https://www.mobilelegends.com/">daun?</a>
    <img alt="browsers.png" src="https://ucarecdn.stepik.net/808dc850-24b1-42aa-a998-f1600ee05367/"
         style="width: 250px">
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
    <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ol>
    <form action="/action" method="GET">
        <input placeholder="zalupaaaaaa">
        <input type="text" value="12345" placeholder="text">
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password">
        <textarea placeholder="Text">12345</textarea>
        <button type="submit">Text</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>